vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
build/*
!/build/.gitkeep
dist/*
test/e2e/homes/*
!test/e2e/homes/.gitkeep
test/e2e/build/*
!test/e2e/build/.gitkeep
.env
#!test/e2e/dockers/contracts-price-dvs/.env
